# Estructuras Datos

## Listas

In [97]:
#Creación

lista_inicial = [24, 'comercial', False, 3.14]

In [98]:
#Acceso

lista_inicial[1]

'comercial'

In [99]:
lista_inicial[-1]

3.14

In [100]:
#Cantidad de elementos

len(lista_inicial)

4

In [101]:
lista_inicial[len(lista_inicial)-1]

3.14

In [102]:
lista_inicial.append('ultimo')

In [103]:
lista_inicial

[24, 'comercial', False, 3.14, 'ultimo']

In [104]:
lista_inicial.insert?

In [105]:
lista_inicial.insert(0, 'primero')
lista_inicial

['primero', 24, 'comercial', False, 3.14, 'ultimo']

In [106]:
'ultimo' in lista_inicial

True

In [107]:
type(lista_inicial)

list

In [108]:
lista_nombres = ['Maria', 'Jose', 'Jesus', 'Paolo']

In [109]:
lista_nombres.reverse()

In [110]:
lista_nombres

['Paolo', 'Jesus', 'Jose', 'Maria']

In [111]:
lista_nombres.sort(reverse=True)

In [112]:
lista_nombres

['Paolo', 'Maria', 'Jose', 'Jesus']

In [113]:
lista_nombres.pop(1)

'Maria'

In [114]:
lista_nombres

['Paolo', 'Jose', 'Jesus']

**Ejemplo:**

Realizar un programa que según sea la opción ingresada ejecute la operación:

1. Solicite el código de proveedor y lo añada a la lista de proveedores.
2. Solicite el código de proveedor a eliminar y proceda a borrarlo de la lista.
3. Muestre todos los códigos de proveedores registrados.
4. Salir del programa.

In [ ]:
#Solución
lista_proveedor = []
while True:
    opcion = int(input("Ingrese la opcion: ",))
    if opcion==1:
        codigo=input("Ingrese el codigo del proveedor para añadir: ")
        lista_proveedor.append(codigo)
    elif opcion==2:
        codigo=input("Ingrese el codigo del proveedor para eliminar: ")
        lista_proveedor.remove(codigo)
    elif opcion==3:
        print(lista_proveedor)
    elif opcion==4:
        break
    else:
        print("Opcion invalidad")

## Tuplas

In [ ]:
tuple()

In [ ]:
tupla_inicial_1 = (24, 'comercial', False, 3.14)

tupla_inicial_2 = 24, 'comercial', False, 3.14

In [ ]:
type(tupla_inicial_2)

In [ ]:
tupla_inicial_1[3]

In [ ]:
tupla_inicial_1[-2]

In [ ]:
tupla_inicial_1[0] = 50

## Diccionarios

In [ ]:
diccionario_1 = {'Maria':3000, 'Jose':6200, 'Olivia':850}

In [ ]:
diccionario_1

In [ ]:
len(diccionario_1)

In [ ]:
diccionario_1[2]
#no se accede por posicion, si no por clave

In [ ]:
diccionario_1['Olivia'] = 1800
diccionario_1

In [ ]:
diccionario_1['Pedro'] = 4500
diccionario_1

In [ ]:
diccionario_1.keys()

In [ ]:
for key in diccionario_1.keys():
  print(key)

In [ ]:
'Pedro' in diccionario_1.keys()

In [ ]:
diccionario_1.values()

In [ ]:
import pandas as pd

In [ ]:
dict_pandas = {
    'Nombre': ['Maria', 'Juan', 'Jose'],
    'Edad'  : [24, 50, 30],
    'Genero': ['F', 'M', 'M']
}

In [ ]:
dict_tabla = pd.DataFrame(dict_pandas)

In [ ]:
dict_tabla

In [ ]:
dict_tabla.describe()

In [ ]:
type(dict_tabla)

**Ejemplo:**

Escribir un programa que guarde en un diccionario la relación **divisa : simbolo** y que al solicitar una divisa muestre su símbolo o un mensaje de aviso si la divisa no está en el diccionario y solicite la información para agregarla.
- Euro -> €
- Dólar -> $
- Yen -> ¥

In [ ]:
#Solución
dict_divisas = {'Euro':'€', 'Dolar':'$', 'Yen':'¥'}
divisa = input('Ingrese la divisa: ')
if divisa in dict_divisas.keys():
    print(dict_divisas[divisa])
else:
    simbolo = input('Ingrese simbolo: ')
    dict_divisas[divisa] = simbolo

In [ ]:
dict_divisas

## Set

In [ ]:
set_1 = {'Los Olivos', 'SMP', 'Rimac', 'SMP', 'La Molina', 'Los Olivos'}
set_2 = {'SJL', 'SJM', 'Los Olivos', 'Callao', 'San Isidro', 'SMP'}

In [ ]:
set_1

In [ ]:
set_1.intersection(set_2)

In [ ]:
set_1 & set_2

In [ ]:
set_1 | set_2

In [ ]:
set_1 - set_2

In [ ]:
for i in set_1:
  print(i)

In [ ]:
set_1.add('Otro')

In [ ]:
set_1

# Ejercicio - Estructura Datos

## Parte 1. Operadores

#### 1.1 Si cuentas con los sgtes datos:

a = '11.2'

b = 50

c = '8'

Imprimir por separados los valores de la parte entera y el residuo de la sgte división:

(b - c)/(a + c)

In [10]:
a = '11.2'
b = 50
c = '8'

#Ingrese su solución aquí
import math

a1=float(a) ##convertimos de str a float para poder realizar la operación matemática
c1=float(c)

resultado = (b - c1)/(a1 + c1)
print("El número es: ",resultado)

parte_decimal, parte_entera = math.modf(resultado) #math.modf devuelve la parte fraccionaria y la parte entera del número incluido como argumento.
print("Su parte entera es {} y su parte decimal es {}".format(parte_entera, parte_decimal))

El número es:  2.1875
Su parte entera es 2.0 y su parte decimal es 0.1875

#### 1.2 Si:

a = 15

b = 4

Calcular:

-- EL valor de exacto de a/b

-- La parte entera de a/b

-- El residuo de a/b

Y ahora para a = 20 y b = 5 ?

In [11]:
import math
a = float(input("Ingrese primer numero: "))
b = float(input("Ingrese segundo numero: "))
resultado = a / b
parte_decimal, parte_entera = math.modf(resultado) #math.modf devuelve la parte fraccionaria y la parte entera del número incluido como argumento.

print("Valor exacto: ", resultado)
print("Su parte entera es {}".format(parte_entera)) #formatea los valores especificados y los inserta dentro del marcador de posición de la cadena."
print("Su parte decimal es {}".format(parte_decimal))

Ingrese primer numero: 20
Ingrese segundo numero: 5
Valor exacto:  4.0
Su parte entera es 4.0
Su parte decimal es 0.0

## Parte 2. Listas

a. Crear una lista con los nombres de tus familiares incluido el tuyo

In [12]:
lista_familia = ['Monica', 'Flaco', 'Gordo', 'Vale']  #creamos una lista
lista_familia

['Monica', 'Flaco', 'Gordo', 'Vale']

b. Agrega el nombre de tus 2 mejores amig@s a la lista creada.

In [13]:
lista_familia.insert(0, 'Ricardo') #insertamos indicando la posición
lista_familia.insert(1, 'Nardys')
lista_familia

['Ricardo', 'Nardys', 'Monica', 'Flaco', 'Gordo', 'Vale']

c. Selecciona un sublista desde la posición 2 a la posición 4 ([pos1, pos2, pos3, pos4, pos5, pos6 , ...]) de tu lista

In [14]:
(lista_familia[1],lista_familia[2],lista_familia[3])  #indicamos la posición

('Nardys', 'Monica', 'Flaco')

d. Elimina de la lista tu nombre

In [15]:
lista_familia.remove('Vale') #limina UNICAMENTE la primera ocurrencia de un valor dentro de la lista..
lista_familia

['Ricardo', 'Nardys', 'Monica', 'Flaco', 'Gordo']

e. Elimina de la lista el elemento de la posición 3.

In [16]:
lista_familia.pop(2)

'Monica'

f. Calcula el tamaño final de tu lista.

In [17]:
print(f' Tamaño final de la lista: {len(lista_familia)}') #len permite saber el tamaño de la lista

 Tamaño final de la lista: 4

## Parte 3. Tuplas

a. Crear una tupla con las edades de tus familiares incluido el tuyo

In [18]:
tupla_inicial_1 = (59, 36, 36, 19) #colocamos los items dentro de un paréntesis
tupla_inicial_1

(59, 36, 36, 19)

b. Agrega el nombre de tus 2 mejores amig@s a la lista creada. Se puede?

In [19]:
L1=list(tupla_inicial_1) #convertimos la tupla en una lista para agregar items con el método append
L1.append('Nardys')
L1.append('Ricardo')
edades_tupla = tuple(L1) #convertimos la lista a tupla y reportamos
edades_tupla

(59, 36, 36, 19, 'Nardys', 'Ricardo')

c. Crea una nueva tupla con las edades de tus 2 mejores amig@s adicional a la tupla creada. Se puede?

In [20]:
amigos = (19, 20) 

t1=tupla_inicial_1 + amigos #Operador(+): concatena tuplas
t1

(59, 36, 36, 19, 19, 20)

d. Selecciona un subtupla desde la posición -3 a la posición -1 de tu tupla.

In [21]:
#seleccionamos la subtupla
(tupla_inicial_1[-3],tupla_inicial_1[-2],tupla_inicial_1[-1])

(36, 36, 19)

e. Elimina de la tupla la mayor edad. Se puede? Qué podrías hacer?

In [22]:
edad_list = list(tupla_inicial_1) #convertimos de tupla a lista
edad_list.sort() #ordenamos la lista de menor a mayor
edad_list.pop() #eliminamos el último item
edad_tupla = tuple(edad_list) #convertimos nuevamente de lista a tupla
edad_tupla

(19, 36, 36)

## Parte 4. Sets

a. Crea un conjunto con los siguientes valores: "Comercial", "Riesgos", "Finanzas", "RRHH"

In [23]:
s1 = {'Comercial', 'Riesgos', 'Finanzas', 'RRHH'} #llaves {} se utilizan para sets, no admite elementos repetidos
s1

{'Comercial', 'Finanzas', 'RRHH', 'Riesgos'}

b. Crea otro conjunto con los siguientes valores: "Finanzas", "Gerencia", "Ventas", "Riesgos", "Logística")

In [24]:
s2= {"Finanzas", "Gerencia", "Ventas", "Riesgos", "Logística"} #creamos otro set y entre comillas colocamos las palabras
s2

{'Finanzas', 'Gerencia', 'Logística', 'Riesgos', 'Ventas'}

c. Genera la unión de ambos conjuntos. Y convertirlo en una lista.

In [25]:
list=list(s1.union(s2)) #método unión suma dos conjuntos y con list() lo convertimos a lista
list

['Gerencia', 'Logística', 'Finanzas', 'RRHH', 'Comercial', 'Ventas', 'Riesgos']

d. Genera la interseccion de ambos conjuntos. Y convertirlo en una tupla.

In [26]:
tupla=tuple(s1.intersection(s2)) #Devuelve los elementos comunes a dos conjuntos y con tuple() lo convertimos a tupla
tupla

('Finanzas', 'Riesgos')

e. Genera una lista con los elementos que están en el 1er conjunto pero no en el 2do conjunto. [No usar "if"s ni "for"s]

In [27]:
s1.difference(s2) #Devuelve los elementos del primero conjunto que no están en el segundo

{'Comercial', 'RRHH'}

## Parte 5. Diccionarios

a. Crea un diccionario vacio.

In [2]:
x = {} 
x

{}

b. Añade 5 elementos al diccionario donde la **Clave** sea un país y el **Valor** sea el número de habitantes.

In [3]:
d1 = {'Perú':32000000, 'EEUU':332250000, 'Australia':25900570,'Aruba':3000000, 'Francia':202250000} #key->país, value: nro habitantes y reportamos
d1

{'Perú': 32000000,
 'EEUU': 332250000,
 'Australia': 25900570,
 'Aruba': 3000000,
 'Francia': 202250000}

c. Imprime solo las llaves del diccionario.

In [4]:
for i in d1.keys(): #con un for hacemos que recorra por cada uno de los items, especificando con keys() los países
  print(i)

Perú
EEUU
Australia
Aruba
Francia

d. Imprime solo los valores del diccionario.

In [5]:
d1.values() #reporta el valor que vendría a ser el nro de habitantes

dict_values([32000000, 332250000, 25900570, 3000000, 202250000])

e. Actualiza el valor del nro de habitantes del país de tu elección multiplicando su valor por 1.5

In [7]:
pais=input("Ingrese el pais: ")
nro= int(input("Ingrese el valor del nro de habitantes: "))*1.5 #convertimos de str a int 
d1 = { **d1, pais: nro} #el ** permite desempaquetar el diccionario, y actualizamos el valor de acuerdo al país
print(d1)

Ingrese el pais: EEUU
Ingrese el valor del nro de habitantes: 342250000
{'Perú': 32000000, 'EEUU': 513375000.0, 'Australia': 25900570, 'Aruba': 3000000, 'Francia': 202250000}

f. Elimina del diccionario el país con el menor número de habitantes.

In [9]:
print(d1)
minimo = min(d1, key=d1.get) #expresión devolverá la lista de claves cuyos valores están ordenados. A partir de ahí, podemos crear un nuevo diccionario ordenado
del d1[minimo] #como ya tenemos el nombre del valor minimo lo eliminamos por key
print(d1)

{'Perú': 32000000, 'EEUU': 513375000.0, 'Australia': 25900570, 'Aruba': 3000000, 'Francia': 202250000}
{'Perú': 32000000, 'EEUU': 513375000.0, 'Australia': 25900570, 'Francia': 202250000}

In [8]:
#OTRA FORMA
import operator #módulo incorporado que proporciona un conjunto de operadores convenientes
p2=sorted(d1.items(), key=operator.itemgetter(1), reverse=True) #construye un invocable que asume un objeto iterable e invertimos el orden 
p2.pop()
p2

[('EEUU', 513375000.0),
 ('Francia', 202250000),
 ('Perú', 32000000),
 ('Australia', 25900570)]