# Regular Expression

In [ ]:
import re

In [ ]:
text = "This is a good day."
if re.search("good", text):
    print("chido")
else:
    print("upsi :(")

In [ ]:
#the work that regex does here is called tokenizing, where the string is separated into substrings based on patterns.
text = "Amy works diligently. Amy gets good grades. Our student Amy is succesful"

re.split("Amy", text)

In [ ]:
re.findall("Amy", text)

In [ ]:
text2 = "ABAAABBCBAABAC"

re.findall("[AB]", text2)

In [ ]:
re.findall("AB|CB",text2)

In [ ]:
re.findall("[^A]",text2)

In [ ]:
re.findall("A{2}",text2)

In [ ]:
with open ("nytimeshealth.txt", "r", encoding="utf8") as file:
    health=file.read()
health

In [ ]:
pattern='#[\w\d]*(?=\s)'
re.findall(pattern, health)

In [ ]:
f = open("nytimeshealth.txt", "r", encoding="utf8")

print(f.read())

In [ ]:
import re
string = 'bat, lat, mat, bet, let, met, bit, lit, mit, bot, lot, mot'
result = re.findall('b[ao]t', string) #or 
print(result)

In [ ]:
def l2_dist(a, b):
    result = ((a - b) * (a - b)).sum()
    result = result ** 0.5
    return result

In [ ]:
import numpy as np
a1 = np.random.rand(4)
print(a1)
a2 = np.random.rand(2, 4)
print(a2)
a3 = np.array([[1, 2, 3, 4]])
print(a3)
a4 = np.arange(1, 4, 1)
print(a4)
a5 = np.linspace(1 ,4, 4)
print(a5)

In [ ]:
a5.shape == a1.shape

In [ ]:

a1.shape == a2.shape

In [ ]:


a3.shape == a4.shape

In [ ]:
import numpy as np

old = np.array([[1, 1, 1], [1, 1, 1]])
new = old
new[0, :2] = 0

print(old)

In [ ]:
import re 
s = 'ACBCAC'

In [ ]:
re.findall('AC', s)

In [ ]:
re.findall('^AC', s)

In [ ]:
re.findall('[^A]C', s)

In [ ]:
import re
s = 'ACAABAACAAAB'
result = re.findall('A{1,2}', s)
L = len(result)
print(L)

In [ ]:
text = "http://www.baidu.com"

urls = re.findall('(?<=[https]:\/\/)([A-Za-z0-9.]*)', text)
print(urls)

In [ ]:
text=r'''Everyone has the following fundamental freedoms:
    (a) freedom of conscience and religion;
    (b) freedom of thought, belief, opinion and expression, including freedom of the press and other media of communication;
    (c) freedom of peaceful assembly; and
    (d) freedom of association.'''

import re
pattern = '[a-d]'
print(len(re.findall(pattern,text)))

# Semana 02

## Explorar estructura de datos de la serie pandas

In [ ]:
import pandas as pd

In [ ]:
students = ['Alice', 'Jack', 'Molly']
pd.Series(students)

In [ ]:
numbers = [1, 2, 3]
pd.Series(numbers)

In [ ]:
import numpy as np 
#Nan(not is Number) no es equivalente a None, el resultado es falso
np.nan == None

In [ ]:
#Consulta a sí mismo, tampoco hay igualdad
np.nan==np.nan

In [ ]:
#utilizamos una función de la librería Numpy isnan()
np.isnan(np.nan)

In [ ]:
#vamos a crear una serie a partir de un diccionario
student_scores = { 'Alice': 'physics',
                   'Jack': 'chemistry',
                   'Molly': 'english' }
s = pd.Series(student_scores)
s

In [ ]:
s.index #obtenemos el índice de la serie

In [ ]:
#lista de tuplas
students=[("Alice","Brown"), ("Jack", "white"), ("Molly", "Green")]
s = pd.Series(students)
s

In [ ]:
s = pd.Series(['physics','chemistry','english'], index=['Alice', 'Jack', 'Molly'])
s

In [ ]:
student_scores = { 'Alice': 'physics',
                   'Jack': 'chemistry',
                   'Molly': 'english' }
s = pd.Series(student_scores, index=['Alice', 'Jack', 'Sam'])
s

# Querying a series

In [14]:
#una serie de Pandas se puede consultar por la posición del índice o la etiqueta del índice
#iloc: consultar por ubicación numérica a partir de 0
#iloc y loc no son métodos, son ATRIBUTOS.
import pandas as pd
student_classes = { 'Alice': 'physics',
                   'Jack': 'chemistry',
                   'Molly': 'english',
                   'Sam': 'history'}
s = pd.Series(student_classes)
s

Alice      physics
Jack     chemistry
Molly      english
Sam        history
dtype: object

In [15]:
s['Alice']

'physics'

In [16]:
s.iloc[3]

'history'

In [17]:
s[3]

'history'

In [18]:
s.loc['Jack']

'chemistry'

In [20]:
s.index[0]

'Alice'

In [19]:
s['Jack']

'chemistry'

In [ ]:
import numpy as np
grades = pd.Series([90,80,70,60])
total = np.sum(grades)
print(total/len(grades))

In [ ]:
#10000 números aleatorios entre 0 y 1000
numbers = pd.Series(np.random.randint(0,1000,10000))
numbers.head()

In [ ]:
len(numbers)

In [ ]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number
    
total/len(numbers)

In [ ]:
#vectorización: capacidad de una computadora de ejecutar varias instrucciones a la vez. Ej: tarjetas gráficas modernas.

# Semana 03

In [1]:
#DIAGRAMA DE VENN
import pandas as pd

staff_df = pd.DataFrame([{ 'Name': 'Kelly', 'Role':'Director of HR'},
                         { 'Name': 'Sally', 'Role': 'Course liasion'},
                         { 'Name': 'James', 'Role': 'Grader'}])
#indexar
staff_df = staff_df.set_index('Name')

student_df = pd.DataFrame([{'Name': 'James', 'School':'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df)
print(student_df)

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [2]:
#método merge = combinación externa
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
#intersección
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)

In [3]:
#staff + detalles de los que fueron estudiantes
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [4]:
#students + detalles de los que son staff
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
#sin necesidad de usar índices, podemos usar columnas (es lo más común)

pd.merge(staff_df, student_df, how='right', on='Name' )

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])

pd.merge(staff_df, student_df, how='left', on='Name')

In [17]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

pd.merge(staff_df, student_df, how='inner', on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

# Idioms

In [2]:
import pandas as pd
import numpy as np 

import timeit 

df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [ ]:
# pandorable way to write code with method chaining
(df.where(df['SUMLEV']==50) #indicamos que SUMLEV debe ser igual a 50
    .dropna() #eliminar missing values
    .set_index(['STNAME','CTYNAME']) #mostrar columnas específicas 
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})) #renombrar

In [ ]:
# non-pandorable way 
df = df[df['SUMLEV']==50] # I'll use the overloaded indexing operator [] which drops nans
# Update the dataframe to have a new index, we use inplace=True to do this in place
df.set_index(['STNAME','CTYNAME'], inplace=True)
# Set the column names
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

In [2]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [3]:

df.apply(min_max, axis='columns').head()

       min      max
0  4785161  4858979
1    54660    55347
2   183193   203709
3    26489    27341
4    22512    22861

In [4]:
df = pd.read_csv('listings.csv')
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [5]:
#multiindex y groupby
#seleccionamos las columnas que vamos a utilizar
df=df.set_index(['cancellation_policy','review_scores_value'])
#aplicamos niveles al grouping by
for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)

In [6]:
def grouping_fun(item):
    # Check the "review_scores_value" portion of the index. item is in the format of
    # (cancellation_policy,review_scores_value
    if item[1] == 10.0:
        return (item[0],"10.0")
    else:
        return (item[0],"not 10.0")

for group, frame in df.groupby(by=grouping_fun):
    print(group)

('flexible', '10.0')
('flexible', 'not 10.0')
('moderate', '10.0')
('moderate', 'not 10.0')
('strict', '10.0')
('strict', 'not 10.0')
('super_strict_30', '10.0')
('super_strict_30', 'not 10.0')

In [8]:
df.head()

                                               id  \
cancellation_policy review_scores_value
moderate            NaN                  12147973
                    9.0                   3075044
                    10.0                     6976
                    10.0                  1436513
flexible            10.0                  7651065

                                                                   listing_url  \
cancellation_policy review_scores_value
moderate            NaN                  https://www.airbnb.com/rooms/12147973
                    9.0                   https://www.airbnb.com/rooms/3075044
                    10.0                     https://www.airbnb.com/rooms/6976
                    10.0                  https://www.airbnb.com/rooms/1436513
flexible            10.0                  https://www.airbnb.com/rooms/7651065

                                              scrape_id last_scraped  \
cancellation_policy review_scores_value
moderate            NaN                  20160906204935   2016-09-07
                    9.0                  20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
                    10.0                 20160906204935   2016-09-07
flexible            10.0                 20160906204935   2016-09-07

                                                                                  name  \
cancellation_policy review_scores_value
moderate            NaN                                     Sunny Bungalow in the City
                    9.0                              Charming room in pet friendly apt
                    10.0                              Mexican Folk Art Haven in Boston
                    10.0                 Spacious Sunny Bedroom Suite in Historic Home
flexible            10.0                                           Come Home to Boston

                                                                                   summary  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                                                                     space  \
cancellation_policy review_scores_value
moderate            NaN                  The house has an open and cozy feel at the sam...
                    9.0                  Small but cozy and quite room with a full size...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Most places you find in Boston are small howev...
flexible            10.0                 Clean, attractive, private room, one block fro...

                                                                               description  \
cancellation_policy review_scores_value
moderate            NaN                  Cozy, sunny, family home.  Master bedroom high...
                    9.0                  Charming and quiet room in a second floor 1910...
                    10.0                 Come stay with a friendly, middle-aged guy in ...
                    10.0                 Come experience the comforts of home away from...
flexible            10.0                 My comfy, clean and relaxing home is one block...

                                        experiences_offered  \
cancellation_policy review_scores_value
moderate            NaN                                none
                    9.0                                none
                    10.0                               none
                    10.0                               none
flexible            10.0                               none

                                                                     neighborhood_overview  \
cancellation_policy review_scores_value
moderate            NaN                  Roslindale is quiet, convenient and friendly. ...
                    9.0                  The room is in Roslindale, a diverse and prima...
                    10.0                 The LOCATION: Roslindale is a safe and diverse...
                    10.0                 Roslindale is a lovely little neighborhood loc...
flexible            10.0                 I love the proximity to downtown, the neighbor...

                                         ... review_scores_communication  \
cancellation_policy review_scores_value  ...
moderate            NaN                  ...                         NaN
                    9.0                  ...                        10.0
                    10.0                 ...                        10.0
                    10.0                 ...                        10.0
flexible            10.0                 ...                        10.0

                                        review_scores_location  \
cancellation_policy review_scores_value
moderate            NaN                                    NaN
                    9.0                                    9.0
                    10.0                                   9.0
                    10.0                                  10.0
flexible            10.0                                   9.0

                                        requires_license license  \
cancellation_policy review_scores_value
moderate            NaN                                f     NaN
                    9.0                                f     NaN
                    10.0                               f     NaN
                    10.0                               f     NaN
flexible            10.0                               f     NaN

                                        jurisdiction_names instant_bookable  \
cancellation_policy review_scores_value
moderate            NaN                                NaN                f
                    9.0                                NaN                t
                    10.0                               NaN                f
                    10.0                               NaN                f
flexible            10.0                               NaN                f

                                        require_guest_profile_picture  \
cancellation_policy review_scores_value
moderate            NaN                                             f
                    9.0                                             f
                    10.0                                            t
                    10.0                                            f
flexible            10.0                                            f

                                        require_guest_phone_verification  \
cancellation_policy review_scores_value
moderate            NaN                                                f
                    9.0                                                f
                    10.0                                               f
                    10.0                                               f
flexible            10.0                                               f

                                        calculated_host_listings_count  \
cancellation_policy review_scores_value
moderate            NaN                                              1
                    9.0                                              1
                    10.0                                             1
                    10.0                                             1
flexible            10.0                                             1

                                         reviews_per_month
cancellation_policy review_scores_value
moderate            NaN                                NaN
                    9.0                               1.30
                    10.0                              0.47
                    10.0                              1.00
flexible            10.0                              2.25

[5 rows x 93 columns]

# Applying

### Aggregation

In [9]:
df=df.reset_index()

In [10]:
# Now lets group by the cancellation policy and find the average review_scores_value by group
df.groupby("cancellation_policy").agg({"review_scores_value":np.average})

                     review_scores_value
cancellation_policy
flexible                             NaN
moderate                             NaN
strict                               NaN
super_strict_30                      NaN

In [11]:
#El problema está en realidad en la función que enviamos para agg. 
#np.average no ignora nans! Sin embargo, hay una función que podemos usar para esto
df.groupby("cancellation_policy").agg({"review_scores_value":np.nanmean})

                     review_scores_value
cancellation_policy
flexible                        9.237421
moderate                        9.307398
strict                          9.081441
super_strict_30                 8.537313

In [13]:
#podemos agregar más funcione o columnas al diccionario
df.groupby("cancellation_policy").agg({"review_scores_value":(np.nanmean, np.nanstd),
                                       "reviews_per_month":np.nanmean})

                    review_scores_value           reviews_per_month
                                nanmean    nanstd           nanmean
cancellation_policy
flexible                       9.237421  1.096271          1.829210
moderate                       9.307398  0.859859          2.391922
strict                         9.081441  1.040531          1.873467
super_strict_30                8.537313  0.840785          0.340143

### Transformation

In [ ]:
#agg() devuelve un solo valor por columna, por lo que una fila por grupo
#tranform() devuelve un objeto que tiene el mismo tamaño que el grupo.
#devolviendo un nuevo marco de datos.Esto facilita la combinación de datos más adelante.

In [15]:
cols=['cancellation_policy','review_scores_value']
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

   review_scores_value
0             9.307398
1             9.307398
2             9.307398
3             9.307398
4             9.237421

In [16]:
transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns', inplace=True)
df=df.merge(transform_df, left_index=True, right_index=True)
df.head()

,cancellation_policy,review_scores_value,id,listing_url,scrape_id,last_scraped,name,summary,space,description,...,review_scores_location,requires_license,license,jurisdiction_names,instant_bookable,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month,mean_review_scores
0,moderate,NaN,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",...,NaN,f,NaN,NaN,f,f,f,1,NaN,9.307398
1,moderate,9.0,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,...,9.0,f,NaN,NaN,t,f,f,1,1.30,9.307398
2,moderate,10.0,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",...,9.0,f,NaN,NaN,f,t,f,1,0.47,9.307398
3,moderate,10.0,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,...,10.0,f,NaN,NaN,f,f,f,1,1.00,9.307398
4,flexible,10.0,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",...,9.0,f,NaN,NaN,f,f,f,1,2.25,9.237421

In [17]:
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

0         NaN
1    0.307398
2    0.692602
3    0.692602
4    0.762579
Name: mean_diff, dtype: float64

### Filtration

In [14]:
import pandas as pd
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'], index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'], columns = ['Grades'])
my_categories=my_categories = pd.CategoricalDtype(categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], ordered=True)
grades = df['Grades'].astype(my_categories)
result = grades[(grades>'B') & (grades<'A')]
result

excellent    A-
good         B+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [15]:
import pandas as pd
(pd.Timestamp('11/29/2019') + pd.offsets.MonthEnd()).weekday()

5

In [16]:
filling_mean = lambda g: g.fillna(g.mean())
df.groupby(group_key).apply(filling_mean)

NameError: name 'group_key' is not defined

In [4]:
import numpy as np

a = np.arange(8)
b = a[4:6]
b

array([4, 5])

In [6]:
b[:] = 40
b

array([40, 40])

In [7]:
b[:] = 40
c = a[4] + a[6]

In [8]:
c

46

In [9]:
import re
s = 'ABCAC'

In [10]:
len(re.search('A', s)) == 2

TypeError: object of type 're.Match' has no len()

In [11]:
re.match('A', s) == True

False

In [12]:
len(re.split('A', s)) == 2

False

In [13]:
bool(re.match('A', s)) == True

True

In [21]:
s1=pd.Series({
    'Mango':20,
    'Strawberry':15,
    'Blueberry':18,
    'Vanilla':31
})

s2=pd.Series({
    'Mango':20,
    'Strawberry':20,
    'Vanilla':30,
    'Banana':15,
    'Plain':20
})

In [22]:
s3 = s1.add(s2)

In [23]:
s3

Banana         NaN
Blueberry      NaN
Mango         40.0
Plain          NaN
Strawberry    35.0
Vanilla       61.0
dtype: float64

In [24]:
s3['Blueberry'] == s1.add(s2, fill_value = 0)['Blueberry']

False

In [25]:
s3['Mango'] >=  s1.add(s2, fill_value = 0)['Mango']

True

In [28]:
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [31]:
S['b':'e']

b    1
c    2
d    3
e    4
dtype: int32

In [29]:
S[['b', 'c', 'd']]

b    1
c    2
d    3
dtype: int32

In [32]:
df = pd.DataFrame([
    {'a':5,'b':6,'c':20},
    {'a':5,'b':82,'c':28},
    {'a':71,'b':31,'c':92},
    {'a':67,'b':37,'c':49}], 
    index=['R1', 'R2', 'R3','R4'])
df

     a   b   c
R1   5   6  20
R2   5  82  28
R3  71  31  92
R4  67  37  49

In [35]:
f = lambda x: x.max() + x.min()
df_new = df.apply(f)
df_new[1]

88

In [36]:
df = pd.DataFrame([
    {'Item':'item_1','Store':'A','Quantity sold':10},
    {'Item':'item_1','Store':'B','Quantity sold':20},
    {'Item':'item_1','Store':'C','Quantity sold':None},
    {'Item':'item_2','Store':'A','Quantity sold':5},
    {'Item':'item_2','Store':'B','Quantity sold':10},
    {'Item':'item_2','Store':'C','Quantity sold':15}])
df

     Item Store  Quantity sold
0  item_1     A           10.0
1  item_1     B           20.0
2  item_1     C            NaN
3  item_2     A            5.0
4  item_2     B           10.0
5  item_2     C           15.0

In [37]:
df.groupby('Item').sum().iloc[0]['Quantity sold']

30.0