# Práctica N°6

1. Cargar base de datos de títulos de películas (Titles.csv)

In [3]:
import pandas as pd
datos = pd.read_csv('titles.csv')

print(datos)

                                        title  year
0                                      Mahler  1974
1                Ogon, voda i... mednye truby  1968
2       Ana Nojoom bent alasherah wamotalagah  2014
3                           Malu de Bicicleta  2010
4                  Nazareno Apostol: Boy Ahas  1989
...                                       ...   ...
230402                          El lobo negro  1981
230403                   Komu na Rusi zhit...  1989
230404                               Senotaji  2013
230405                      The Leopard Woman  1920
230406                     Mio caro assassino  1972

[230407 rows x 2 columns]

2. Mostrar los 5 primeros registros

In [4]:
 print(datos.head(5))

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

3. Cargar base de datos de elenco de películas (Cast.csv)

In [5]:
import pandas as pd
cs = pd.read_csv('cast.csv')

print(cs)

                                    title  year                         name  \
0                          Closet Monster  2015                     Buffy #1
1                         Suuri illusioni  1985                       Homo $
2                     Battle of the Sexes  2017                      $hutter
3                    Secret in Their Eyes  2015                      $hutter
4                              Steve Jobs  2015                      $hutter
...                                   ...   ...                          ...
3564645                    Stuttur Frakki  1993    Sveinbj?rg ??rhallsd?ttir
3564646                           Foxtrot  1988            Lilja ??risd?ttir
3564647  Niceland (Population. 1.000.002)  2004    Sigr??ur J?na ??risd?ttir
3564648                      U.S.S.S.S...  2003  Krist?n Andrea ??r?ard?ttir
3564649                 Bye Bye Blue Bird  1999                 Rosa ? R?gvu

            type                character     n
0          actor                  Buffy 4  31.0
1          actor                   Guests  22.0
2          actor          Bobby Riggs Fan  10.0
3          actor          2002 Dodger Fan   NaN
4          actor  1988 Opera House Patron   NaN
...          ...                      ...   ...
3564645  actress               Flugfreyja  24.0
3564646  actress                     D?ra  24.0
3564647  actress             Woman in Bus  26.0
3564648  actress   Afgr.dama ? bens?nst??  17.0
3564649  actress        Pensionatv?rtinde   NaN

[3564650 rows x 6 columns]

4. Mostrar los 5 primeros registros

In [6]:
print(cs.head(5))

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

5. ¿Cuantas películas están listadas en el dataframe de títulos?

In [7]:
len(cs)

3564650

6. ¿Cuáles son las películas más antiguas listadas en títulos?

In [ ]:
cs.sort_values('year').head()

7. ¿Cuantas películas están listadas por el nombre “Drácula”?

In [ ]:
len( cs[cs.title == "Dracula"] )

8. Títulos más comunes en la historia filmográfica

In [15]:
cs.title.value_counts().head(10)

Around the World in Eighty Days       1299
7 cajas                                689
Thelma                                 580
The Ten Commandments                   532
The Eschatrilogy: Book of the Dead     517
Catching Faith                         493
The Dark Knight Rises                  450
Welcome to Essex                       448
Stuck on You                           437
The Buccaneer                          436
Name: title, dtype: int64

9. ¿Cuál fue la primera película hecha titulada “Romeo and Juliet”?

In [16]:
cs[cs.title == "Romeo and Juliet"].sort_values('year').head(1)

                    title  year      name     type character     n
3001040  Romeo and Juliet  1916  Jane Lee  actress      Page  11.0

10. Listar todaslas películas que contengan la palabra "Exorcist”, ordenadas de la más vieja a la más reciente.

In [17]:
cs[cs.title.str.contains("Exorcist")].sort_values('year')

,title,year,name,type,character,n
3532552,The Exorcist,1973,Kitty Winn,actress,Sharon,4.0
2701361,The Exorcist,1973,Joanne Dusseau,actress,Senator's Wife,NaN
2678519,The Exorcist,1973,Eileen Dietz,actress,Pazuzu's Face,NaN
416960,The Exorcist,1973,Lee J. Cobb,actor,Lt. William Kinderman,3.0
2647084,The Exorcist,1973,Toni Darnay,actress,Violent psychotic patient,NaN
...,...,...,...,...,...,...
2892427,Accidental Exorcist,2016,Kelly Iris,actress,Bar Patron,42.0
2022089,Accidental Exorcist,2016,Mitchell Smigiel,actor,Possessed Photo,53.0
2022088,Accidental Exorcist,2016,Mitch Smigiel,actor,Hit On 4,24.0
901684,Accidental Exorcist,2016,James (LXXVII) Harris,actor,2nd Possession,8.0
948594,Accidental Exorcist,2016,David Higbee,actor,Burgess Belle,4.0

11. ¿Cuantas películas fueron hechas en el año 1950?

In [1]:
# Cuantas peliculas fueron hechas en el año 1950?
len( cs[cs.year == 1950] )

NameError: name 'cs' is not defined

12. ¿Cuantas películas fueron hechas de 1950 a 1959?

In [19]:
len( cs[ (cs.year >= 1950) & (cs.year <= 1959) ] )

210002

13. En que años alguna película llamada "Batman" se presento

In [ ]:
len( cs[ cs.year // 10 == 195] )

14. Cuantos roles o papeles hubo en la película "The Godfather"

In [ ]:
cs[ cs.title == "Batman"]

15. Cuantos papeles en la película "The Godfather" no están clasificados en algún valor "n"

In [20]:
len( cs[cs.title == "The Godfather"] )

76

16. Mostrar el elenco completo de la película "2001: A Space Odyssey" - ordenado por su clasificación "n" - ignorando los papeles que no se les asigno ningún valor "n"

In [21]:
c = cs[cs.title == "The Godfather"]
c = c[c.n.isnull()]
len( c )

42

17. Cuantos papeles de "Bruce Wayne" han sido hechos en la historia de las películas

In [ ]:
c = cs[cs.title == "Bruce Wayne"]
c = c[c.n.isnull()]
len( c )

18. Cuanta gente ha hecho el papel de "Romeo"

In [ ]:
c = cs[cs.title == "Romeo"]
c = c[c.n.isnull()]
len( c )

19. Cuantos papeles ha hecho "Robert De Niro" en su carrera

In [ ]:
c = cs[cs.title == "Robert De Niro"]
c = c[c.n.isnull()]
len( c )

20. Listado de papeles como protagonista que tuvo el actor "Charlton Heston" en la década de los 60's, ordenado por año de forma descendente

In [24]:
c = cs[cs.name == "Charlton Heston"]
c = c[c.name == "Charlton Heston"]
c = c[c.n == 1]
c = c[c.year // 10 == 196]
c = c.sort_values('year',ascending=False)
c

,title,year,name,type,character,n
944074,Number One,1969,Charlton Heston,actor,Ron 'Cat' Catlan,1.0
944077,Planet of the Apes,1968,Charlton Heston,actor,George Taylor,1.0
944050,Counterpoint,1967,Charlton Heston,actor,Lionel Evans,1.0
944120,Will Penny,1967,Charlton Heston,actor,Will Penny,1.0
944066,Khartoum,1966,Charlton Heston,actor,Gen. Charles 'Chinese' Gordon,1.0
944068,Major Dundee,1965,Charlton Heston,actor,Major Amos Charles Dundee,1.0
944085,The Agony and the Ecstasy,1965,Charlton Heston,actor,Michelangelo,1.0
944111,The War Lord,1965,Charlton Heston,actor,Chrysagon,1.0
944038,55 Days at Peking,1963,Charlton Heston,actor,Maj. Matt Lewis,1.0
944052,Diamond Head,1962,Charlton Heston,actor,Richard 'King' Howland,1.0
944101,The Pigeon That Took Rome,1962,Charlton Heston,actor,Captain Paul MacDougall,1.0
944102,The Pigeon That Took Rome,1962,Charlton Heston,actor,Benny the Snatch,1.0
944103,The Pigeon That Took Rome,1962,Charlton Heston,actor,Narrator,1.0
944054,El Cid,1961,Charlton Heston,actor,El Cid Rodrigo de Vivar,1.0

14